
/* Houston label in the navbar */
.houston {
    font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    color: rgba(255,255,255,.7);
    pointer-events: none;
}

/* Portfolio */
#portfolio{
	background:#F9F9F9;
	padding: 50px 0px;
}
#portfolio img{
	width: 50%;
	height: 90%;
}

.gratt-icon{
	border-radius: 10px;
	width: 20% !important;
	height: 9% !important;
	margin: 5px 3px;

	display: block;
	margin-left: auto;
	margin-right: auto;

}


.btn-store {
	color: #fff;
	background-color: #000;
	min-width: 254px;
	padding: 12px 20px !important;
	border-color: #000 !important;
	border-radius: 10px;
	margin-top: 20px;
}

.btn-store:focus, .btn-store:hover {
	color: #000 !important;
	background-color: #fff;
	border-color: #000 !important;
}

.btn-store .btn-label, .btn-store .btn-caption {
	display: block;
	text-align: left;
	line-height: 1;
}

.btn-store .btn-caption {
	font-size: 24px;
}

/* Contact Form */

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #f4623a;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#f4623a;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

@media only screen and (max-width: 767px){
	.gratt-icon{
		width: 15% !important;
		height: 20% !important;
	}
}